<!DOCTYPE html>
<html>

<head>
    <title>HelpDesk Pro</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            HelpDesk Pro
        </a>

        {% if current_user.is_authenticated %}

        <div>

            <a href="/" class="btn btn-outline-light btn-sm">
                Dashboard
            </a>

            <a href="/my-tickets" class="btn btn-outline-light btn-sm">
                My Tickets
            </a>

            {% if current_user.role == "admin" %}
            <a href="/admin" class="btn btn-warning btn-sm">
                Admin
            </a>
            {% endif %}

            <a href="/logout" class="btn btn-danger btn-sm">
                Logout
            </a>

        </div>

        {% endif %}

    </div>

</nav>

<div class="container mt-4">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-info">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
